################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinaryClient/bin/Debug
/BinaryClient/obj/Debug
/.vs/BinaryClient/v14
/packages